<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<Pattern>%d %-4relative [%thread] %-5level %logger{35} - %msg%n
			</Pattern>
		</encoder>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/sentry/logs/sentry.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${user.home}/sentry/logs/sentry.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 60 days' worth of history -->
			<maxHistory>60</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n </pattern>
		</encoder>
	</appender>
	<logger name="com.leantaas.sentry.server" level="debug" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.springframework" level="info" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	<logger name="org.hibernate" level="info" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
	<root level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>